<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd


	         http://www.springframework.org/schema/tx
	         http://www.springframework.org/schema/tx/spring-tx.xsd


	         http://www.springframework.org/schema/mvc
	         http://www.springframework.org/schema/mvc/spring-mvc.xsd
	         http://www.springframework.org/schema/context
	         http://www.springframework.org/schema/context/spring-context.xsd
	         http://www.springframework.org/schema/cache
	         http://www.springframework.org/schema/cache/spring-cache.xsd
	         http://www.springframework.org/schema/task
	         http://www.springframework.org/schema/task/spring-task.xsd
	         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="com.unimedsci.ydata"></context:component-scan>
    <context:component-scan base-package="com.sweetw"></context:component-scan>
    <!--<task:annotation-driven scheduler="myScheduler"></task:annotation-driven>
    <task:scheduler id="myScheduler" pool-size="5"/>-->
    <!--<context:annotation-config />
    <task:annotation-driven />
    <context:mbean-export registration="failOnExisting" />-->

    <!-- Spring注解方式配置调度任务 -->
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="5"/>


    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="1800"
                     allowed-methods="GET,POST,OPTIONS"/>
    </mvc:cors>

    <tx:annotation-driven/>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/bootstrap/**" location="/bootstrap/"/>
    <mvc:resources mapping="/ueditor/**" location="/ueditor/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/video/**" location="/video/"/>

    <!-- <mvc:default-servlet-handler />     -->

    <!-- <mvc:default-servlet-handler/> -->
    <!--<cache:annotation-driven key-generator="keyGeneratorService"/>-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.sweetw.idata.commons.interceptor.CustomInterceptor">
                <property name="ManagementAudit" ref="portalAuditImpl"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="portalAuditImpl" class="com.unimedsci.ydata.hdwx.authorizer.hdwxManagementAudit"/>


    <!-- spring自己的换管理器，这里定义了两个缓存位置名称 ，既注解中的value -->
    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean
                        class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                        p:name="default"/>
                <bean
                        class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                        p:name="config"/>
                <bean
                        class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                        p:name="folder"/>
                <bean
                        class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                        p:name="article"/>
                <bean
                        class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
                        p:name="media"/>
            </set>
        </property>
    </bean>

    <!-- 在XML配置文件中加入外部属性文件，当然也可以指定外部文件的编码-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:ignoreUnresolvablePlaceholders="true"
          p:ignoreResourceNotFound="true">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:email.properties</value>
                <value>classpath:config.properties</value>
                <value>classpath:shortmessage.properties</value>
            </list>
        </property>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${email.host}"/>
        <property name="port" value="${email.port}"/>
        <property name="username" value="${email.user}"/>
        <property name="password" value="${email.password}"/>

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
        <!-- <property name="DefaultEncoding" value="GBK"/> -->
    </bean>

    <bean id="mailMail" class="com.sweetw.idata.commons.utils.EmailUtil">
        <property name="mailSender" ref="mailSender"/>
        <property name="user" value="${email.user}"/>
    </bean>

    <!-- 图片上传的配置 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 最大值4M -->
        <property name="maxUploadSize" value="209715200"/>
        <property name="resolveLazily" value="true"/>
    </bean>

    <!-- 登陆时验证码的配置-->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">

                <constructor-arg type="java.util.Properties">
                    <props>

                        <prop key="kaptcha.image.width">150</prop>

                        <prop key="kaptcha.image.height">60</prop>

                        <prop key="kaptcha.textproducer.char.string">abcde2345678gfynmnpwx</prop>

                        <prop key="kaptcha.textproducer.char.length">5</prop>

                        <prop key="kaptcha.border">no</prop>

                        <prop key="kaptcha.textproducer.font.color">red</prop>

                        <prop key="kaptcha.textproducer.font.size">35</prop>

                        <prop key="kaptcha.textproducer.font.names">Arial, Courier</prop>
                        <prop key="kaptcha.background.clear.from">white</prop>
                        <prop key="kaptcha.background.clear.to">white</prop>
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop>
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>

                        <prop key="kaptcha.noise.color">red</prop>

                        <prop key="kaptcha.textproducer.char.space">4</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="dataSourceTemplate" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <!--         <property name="driverClassName" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/> -->
        <property name="dataSource" ref="dataSourceTemplate"/>
        <property name="initialSize" value="${jdbc.min}"/>
        <property name="minIdle" value="${jdbc.min}"/>
        <property name="maxIdle" value="${jdbc.max}"/>
        <property name="maxActive" value="${jdbc.max}"/>
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="${jdbc.query}"/>
        <property name="validationInterval" value="${jdbc.idle}"/>
        <property name="connectionProperties" value="oracle.jdbc.J2EE13Compliant=true"/>
    </bean>
    <!-- 创建SqlSessionFactory，同时指定数据源 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--创建数据映射器，数据映射器必须为接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <property name="basePackage" value="com.unimedsci.ydata.hdwx"/>
    </bean>


    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="handlerExceptionResolver"
          class="com.sweetw.idata.commons.exception.AnnotationHandlerMethodExceptionResolver">
        <property name="defaultErrorView" value="/404"/> <!--错误页面-->
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <!-- JSON转换器无需设置mediaType,由外部客户端调用时，手动设置相关mediaType -->
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>
</beans>
