<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimedsci.ydata.jxz.commons.dao.AssistantServiceAuthMapper">
  <resultMap id="BaseResultMap" type="com.unimedsci.ydata.jxz.commons.datas.AssistantServiceAuth">
    <id column="assistant_service_auth_id" jdbcType="INTEGER" property="assistantServiceAuthId" />
    <result column="doctor_account_id" jdbcType="INTEGER" property="doctorAccountId" />
    <result column="applicant_account_id" jdbcType="INTEGER" property="applicantAccountId" />
    <result column="application_time" jdbcType="TIMESTAMP" property="applicationTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="settle_time" jdbcType="TIMESTAMP" property="settleTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime" />
  </resultMap>
  <sql id="Base_Column_List">
    assistant_service_auth_id, doctor_account_id, applicant_account_id, application_time, 
    status, settle_time, comment, stop_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assistant_service_auth
    where assistant_service_auth_id = #{assistantServiceAuthId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assistant_service_auth
    where assistant_service_auth_id = #{assistantServiceAuthId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unimedsci.ydata.jxz.commons.datas.AssistantServiceAuth">
    insert into assistant_service_auth (assistant_service_auth_id, doctor_account_id, 
      applicant_account_id, application_time, 
      status, settle_time, comment, 
      stop_time)
    values (#{assistantServiceAuthId,jdbcType=INTEGER}, #{doctorAccountId,jdbcType=INTEGER}, 
      #{applicantAccountId,jdbcType=INTEGER}, #{applicationTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{settleTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{stopTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.AssistantServiceAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    insert into assistant_service_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="assistantServiceAuthId != null">
        assistant_service_auth_id,
      </if>
      <if test="doctorAccountId != null">
        doctor_account_id,
      </if>
      <if test="applicantAccountId != null">
        applicant_account_id,
      </if>
      <if test="applicationTime != null">
        application_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="settleTime != null">
        settle_time,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="stopTime != null">
        stop_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="assistantServiceAuthId != null">
        #{assistantServiceAuthId,jdbcType=INTEGER},
      </if>
      <if test="doctorAccountId != null">
        #{doctorAccountId,jdbcType=INTEGER},
      </if>
      <if test="applicantAccountId != null">
        #{applicantAccountId,jdbcType=INTEGER},
      </if>
      <if test="applicationTime != null">
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="settleTime != null">
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="stopTime != null">
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.AssistantServiceAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    update assistant_service_auth
    <set>
      <if test="doctorAccountId != null">
        doctor_account_id = #{doctorAccountId,jdbcType=INTEGER},
      </if>
      <if test="applicantAccountId != null">
        applicant_account_id = #{applicantAccountId,jdbcType=INTEGER},
      </if>
      <if test="applicationTime != null">
        application_time = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="settleTime != null">
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="stopTime != null">
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where assistant_service_auth_id = #{assistantServiceAuthId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unimedsci.ydata.jxz.commons.datas.AssistantServiceAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    update assistant_service_auth
    set doctor_account_id = #{doctorAccountId,jdbcType=INTEGER},
      applicant_account_id = #{applicantAccountId,jdbcType=INTEGER},
      application_time = #{applicationTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      settle_time = #{settleTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      stop_time = #{stopTime,jdbcType=TIMESTAMP}
    where assistant_service_auth_id = #{assistantServiceAuthId,jdbcType=INTEGER}
  </update>
</mapper>