<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimedsci.ydata.jxz.commons.dao.DoctorGroupMemberMapper">
  <resultMap id="BaseResultMap" type="com.unimedsci.ydata.jxz.commons.datas.DoctorGroupMember">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    <id column="doctor_group_member_id" jdbcType="INTEGER" property="doctorGroupMemberId" />
    <result column="doctor_group_id" jdbcType="INTEGER" property="doctorGroupId" />
    <result column="ydata_account_id" jdbcType="INTEGER" property="ydataAccountId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    doctor_group_member_id, doctor_group_id, ydata_account_id, create_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    select 
    <include refid="Base_Column_List" />
    from doctor_group_member
    where doctor_group_member_id = #{doctorGroupMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    delete from doctor_group_member
    where doctor_group_member_id = #{doctorGroupMemberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unimedsci.ydata.jxz.commons.datas.DoctorGroupMember">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    insert into doctor_group_member (doctor_group_member_id, doctor_group_id, 
      ydata_account_id, create_time, status
      )
    values (#{doctorGroupMemberId,jdbcType=INTEGER}, #{doctorGroupId,jdbcType=INTEGER}, 
      #{ydataAccountId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.DoctorGroupMember">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    insert into doctor_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doctorGroupMemberId != null">
        doctor_group_member_id,
      </if>
      <if test="doctorGroupId != null">
        doctor_group_id,
      </if>
      <if test="ydataAccountId != null">
        ydata_account_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doctorGroupMemberId != null">
        #{doctorGroupMemberId,jdbcType=INTEGER},
      </if>
      <if test="doctorGroupId != null">
        #{doctorGroupId,jdbcType=INTEGER},
      </if>
      <if test="ydataAccountId != null">
        #{ydataAccountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.DoctorGroupMember">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    update doctor_group_member
    <set>
      <if test="doctorGroupId != null">
        doctor_group_id = #{doctorGroupId,jdbcType=INTEGER},
      </if>
      <if test="ydataAccountId != null">
        ydata_account_id = #{ydataAccountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where doctor_group_member_id = #{doctorGroupMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unimedsci.ydata.jxz.commons.datas.DoctorGroupMember">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:03.
    -->
    update doctor_group_member
    set doctor_group_id = #{doctorGroupId,jdbcType=INTEGER},
      ydata_account_id = #{ydataAccountId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where doctor_group_member_id = #{doctorGroupMemberId,jdbcType=INTEGER}
  </update>
</mapper>