<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimedsci.ydata.jxz.commons.dao.ResearchSubjectMapper">
    <resultMap id="BaseResultMap" type="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject">
        <id column="research_subject_id" jdbcType="INTEGER" property="researchSubjectId"/>
        <result column="research_subject_title" jdbcType="VARCHAR" property="researchSubjectTitle"/>
        <result column="research_type" jdbcType="VARCHAR" property="researchType"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="research_status" jdbcType="VARCHAR" property="researchStatus"/>
        <result column="main_img_name" jdbcType="VARCHAR" property="mainImgName"/>
        <result column="malady" jdbcType="VARCHAR" property="malady"/>
        <result column="intervene_method" jdbcType="VARCHAR" property="interveneMethod"/>
        <result column="sponsor" jdbcType="VARCHAR" property="sponsor"/>
        <result column="cro" jdbcType="VARCHAR" property="cro"/>
        <result column="reseacher" jdbcType="VARCHAR" property="reseacher"/>
        <result column="clinical_trail_staging" jdbcType="INTEGER" property="clinicalTrailStaging"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject">
        <result column="html_text" jdbcType="LONGVARCHAR" property="htmlText"/>
    </resultMap>
    <sql id="Base_Column_List">
    research_subject_id, research_subject_title, research_type, begin_time, end_time, 
    research_status, main_img_name, malady, intervene_method, sponsor, cro, reseacher, 
    clinical_trail_staging, create_time, modify_time
  </sql>
    <sql id="Blob_Column_List">
    html_text
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from research_subject
        where research_subject_id = #{researchSubjectId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from research_subject
    where research_subject_id = #{researchSubjectId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject" useGeneratedKeys="true"
            keyProperty="researchSubjectId">
    insert into research_subject (research_subject_title,
      research_type, begin_time, end_time, 
      research_status, main_img_name, malady, 
      intervene_method, sponsor, cro, 
      reseacher, clinical_trail_staging, create_time, 
      modify_time, html_text)
    values ( #{researchSubjectTitle,jdbcType=VARCHAR},
      #{researchType,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{researchStatus,jdbcType=VARCHAR}, #{mainImgName,jdbcType=VARCHAR}, #{malady,jdbcType=VARCHAR}, 
      #{interveneMethod,jdbcType=VARCHAR}, #{sponsor,jdbcType=VARCHAR}, #{cro,jdbcType=VARCHAR}, 
      #{reseacher,jdbcType=VARCHAR}, #{clinicalTrailStaging,jdbcType=INTEGER}, sysdate(),
      #{modifyTime,jdbcType=TIMESTAMP}, #{htmlText,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject">
        insert into research_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="researchSubjectId != null">
                research_subject_id,
            </if>
            <if test="researchSubjectTitle != null">
                research_subject_title,
            </if>
            <if test="researchType != null">
                research_type,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="researchStatus != null">
                research_status,
            </if>
            <if test="mainImgName != null">
                main_img_name,
            </if>
            <if test="malady != null">
                malady,
            </if>
            <if test="interveneMethod != null">
                intervene_method,
            </if>
            <if test="sponsor != null">
                sponsor,
            </if>
            <if test="cro != null">
                cro,
            </if>
            <if test="reseacher != null">
                reseacher,
            </if>
            <if test="clinicalTrailStaging != null">
                clinical_trail_staging,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="htmlText != null">
                html_text,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="researchSubjectId != null">
                #{researchSubjectId,jdbcType=INTEGER},
            </if>
            <if test="researchSubjectTitle != null">
                #{researchSubjectTitle,jdbcType=VARCHAR},
            </if>
            <if test="researchType != null">
                #{researchType,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="researchStatus != null">
                #{researchStatus,jdbcType=VARCHAR},
            </if>
            <if test="mainImgName != null">
                #{mainImgName,jdbcType=VARCHAR},
            </if>
            <if test="malady != null">
                #{malady,jdbcType=VARCHAR},
            </if>
            <if test="interveneMethod != null">
                #{interveneMethod,jdbcType=VARCHAR},
            </if>
            <if test="sponsor != null">
                #{sponsor,jdbcType=VARCHAR},
            </if>
            <if test="cro != null">
                #{cro,jdbcType=VARCHAR},
            </if>
            <if test="reseacher != null">
                #{reseacher,jdbcType=VARCHAR},
            </if>
            <if test="clinicalTrailStaging != null">
                #{clinicalTrailStaging,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="htmlText != null">
                #{htmlText,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject">
        update research_subject
        <set>
            <if test="researchSubjectTitle != null">
                research_subject_title = #{researchSubjectTitle,jdbcType=VARCHAR},
            </if>
            <if test="researchType != null">
                research_type = #{researchType,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="researchStatus != null">
                research_status = #{researchStatus,jdbcType=VARCHAR},
            </if>
            <if test="mainImgName != null">
                main_img_name = #{mainImgName,jdbcType=VARCHAR},
            </if>
            <if test="malady != null">
                malady = #{malady,jdbcType=VARCHAR},
            </if>
            <if test="interveneMethod != null">
                intervene_method = #{interveneMethod,jdbcType=VARCHAR},
            </if>
            <if test="sponsor != null">
                sponsor = #{sponsor,jdbcType=VARCHAR},
            </if>
            <if test="cro != null">
                cro = #{cro,jdbcType=VARCHAR},
            </if>
            <if test="reseacher != null">
                reseacher = #{reseacher,jdbcType=VARCHAR},
            </if>
            <if test="clinicalTrailStaging != null">
                clinical_trail_staging = #{clinicalTrailStaging,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="htmlText != null">
                html_text = #{htmlText,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where research_subject_id = #{researchSubjectId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject">
    update research_subject
    set research_subject_title = #{researchSubjectTitle,jdbcType=VARCHAR},
      research_type = #{researchType,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      research_status = #{researchStatus,jdbcType=VARCHAR},
      main_img_name = #{mainImgName,jdbcType=VARCHAR},
      malady = #{malady,jdbcType=VARCHAR},
      intervene_method = #{interveneMethod,jdbcType=VARCHAR},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      cro = #{cro,jdbcType=VARCHAR},
      reseacher = #{reseacher,jdbcType=VARCHAR},
      clinical_trail_staging = #{clinicalTrailStaging,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = sysdate(),
      html_text = #{htmlText,jdbcType=LONGVARCHAR}
    where research_subject_id = #{researchSubjectId,jdbcType=INTEGER}
  </update>


    <select id="queryResearchSubjectList" parameterType="java.util.Map"
            resultType="com.unimedsci.ydata.jxz.commons.datas.ResearchSubject">
        select
          *
        from research_subject a
        where 1=1 and a.research_status != 'INACTIVE'
        <if test="researchSubjectTitle != null and researchSubjectTitle != ''">
            and a.research_subject_title like concat('%',#{researchSubjectTitle},'%')
        </if>
        <if test="researchType != null and researchType != ''">
            and a.research_type like =#{researchType}
        </if>
        <if test="beginTime != null">
            and a.begin_time > #{beginTime}
        </if>

        <if test="endTime != null">
        <![CDATA[ and a.end_time <= #{endTime}]]>
        </if>
        <if test="researchStatus != null and researchStatus != ''">
            and a.research_status = #{researchStatus}
        </if>
        <if test="researchSubjectId != null">
            and a.research_subject_id =#{researchSubjectId}
        </if>
        order by
        a.create_time desc
    </select>
</mapper>