<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimedsci.ydata.jxz.commons.dao.VisitTypeAuthMapper">
  <resultMap id="BaseResultMap" type="com.unimedsci.ydata.jxz.commons.datas.VisitTypeAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    <id column="visit_type_auth_id" jdbcType="INTEGER" property="visitTypeAuthId" />
    <result column="visit_type_id" jdbcType="INTEGER" property="visitTypeId" />
    <result column="auth" jdbcType="VARCHAR" property="auth" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    visit_type_auth_id, visit_type_id, auth
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    select 
    <include refid="Base_Column_List" />
    from visit_type_auth
    where visit_type_auth_id = #{visitTypeAuthId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    delete from visit_type_auth
    where visit_type_auth_id = #{visitTypeAuthId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unimedsci.ydata.jxz.commons.datas.VisitTypeAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    insert into visit_type_auth (visit_type_auth_id, visit_type_id, auth
      )
    values (#{visitTypeAuthId,jdbcType=INTEGER}, #{visitTypeId,jdbcType=INTEGER}, #{auth,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.VisitTypeAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    insert into visit_type_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="visitTypeAuthId != null">
        visit_type_auth_id,
      </if>
      <if test="visitTypeId != null">
        visit_type_id,
      </if>
      <if test="auth != null">
        auth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="visitTypeAuthId != null">
        #{visitTypeAuthId,jdbcType=INTEGER},
      </if>
      <if test="visitTypeId != null">
        #{visitTypeId,jdbcType=INTEGER},
      </if>
      <if test="auth != null">
        #{auth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.VisitTypeAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    update visit_type_auth
    <set>
      <if test="visitTypeId != null">
        visit_type_id = #{visitTypeId,jdbcType=INTEGER},
      </if>
      <if test="auth != null">
        auth = #{auth,jdbcType=VARCHAR},
      </if>
    </set>
    where visit_type_auth_id = #{visitTypeAuthId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unimedsci.ydata.jxz.commons.datas.VisitTypeAuth">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    update visit_type_auth
    set visit_type_id = #{visitTypeId,jdbcType=INTEGER},
      auth = #{auth,jdbcType=VARCHAR}
    where visit_type_auth_id = #{visitTypeAuthId,jdbcType=INTEGER}
  </update>
</mapper>