<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unimedsci.ydata.jxz.commons.dao.YdataAccountMapper">
  <resultMap id="BaseResultMap" type="com.unimedsci.ydata.jxz.commons.datas.YdataAccount">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    <id column="ydata_account_id" jdbcType="INTEGER" property="ydataAccountId" />
    <result column="ydata_uuid" jdbcType="VARCHAR" property="ydataUuid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    ydata_account_id, ydata_uuid, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    select 
    <include refid="Base_Column_List" />
    from ydata_account
    where ydata_account_id = #{ydataAccountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    delete from ydata_account
    where ydata_account_id = #{ydataAccountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.unimedsci.ydata.jxz.commons.datas.YdataAccount">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    insert into ydata_account (ydata_account_id, ydata_uuid, create_time
      )
    values (#{ydataAccountId,jdbcType=INTEGER}, #{ydataUuid,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.YdataAccount">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    insert into ydata_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ydataAccountId != null">
        ydata_account_id,
      </if>
      <if test="ydataUuid != null">
        ydata_uuid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ydataAccountId != null">
        #{ydataAccountId,jdbcType=INTEGER},
      </if>
      <if test="ydataUuid != null">
        #{ydataUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unimedsci.ydata.jxz.commons.datas.YdataAccount">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    update ydata_account
    <set>
      <if test="ydataUuid != null">
        ydata_uuid = #{ydataUuid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ydata_account_id = #{ydataAccountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unimedsci.ydata.jxz.commons.datas.YdataAccount">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-11-30 15:36:04.
    -->
    update ydata_account
    set ydata_uuid = #{ydataUuid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where ydata_account_id = #{ydataAccountId,jdbcType=INTEGER}
  </update>
</mapper>